.footer {
    width: 100vw;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: small;
    white-space: nowrap;
    flex-direction:column;
  }
  
  .alex {
    color: wheat;
    text-decoration: none;
    margin: 0 5px;
    font-weight: 500;
    font-size: 15px;
  }
  
  .alex:hover {
    text-decoration: underline;
  }
  
  .footer-line {
    width: 100%;
    border-top: 1.5px solid wheat;
    padding-right: 4.5px;
    margin-bottom: 10px; 
  }
  